@font-face {
    font-family: DM Sans;
    font-weight: 400;
    src: url(../../assets/fonts/DMSans/DMSans-rg.woff2) format("woff2"),
        url(../../assets/fonts/DMSans/DMSans-rg.woff) format("woff");
}
@font-face {
    font-family: DM Sans;
    font-style: italic;
    font-weight: 400;
    src: url(../../assets/fonts/DMSans/DMSans-it.woff2) format("woff2"),
        url(../../assets/fonts/DMSans/DMSans-it.woff) format("woff");
}
@font-face {
    font-family: DM Sans;
    font-weight: 500;
    src: url(../../assets/fonts/DMSans/DMSans-md.woff2) format("woff2"),
        url(../../assets/fonts/DMSans/DMSans-md.woff) format("woff");
}
@font-face {
    font-family: DM Sans;
    font-weight: 700;
    src: url(../../assets/fonts/DMSans/DMSans-bd.woff2) format("woff2"),
        url(../../assets/fonts/DMSans/DMSans-bd.woff) format("woff");
}
@font-face {
    font-family: ivar;
    font-weight: 700;
    src: url(../../assets/fonts/ivar/ivar-bd.woff2) format("woff2"),
        url(../../assets/fonts/ivar/ivar-bd.woff) format("woff");
}
@-webkit-keyframes a {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}
@keyframes a {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: -0.02em;
    font-family: DM Sans, sans-serif !important;
}
.e-full-screen body {
    background: #fff;
    line-height: 1.5;
    color: #3a3f45;
}
.e-connect a {
    background-color: transparent;
    color: #040080;
}
.e-connect a[href]:not(.e-connect-switch-user) {
    text-decoration: underline;
}
.e-connect a:hover {
    color: #0500a3;
}
.e-connect h1,
.e-connect h2,
.e-connect h3,
.e-connect h4,
.e-connect h5,
.e-connect h6 {
    margin-top: 0;
}
.e-connect-box .h2,
.e-connect-box h2 {
    margin-bottom: 12px;
    line-height: 1.5;
    color: #0c0d0e;
    font-weight: 700;
    font-size: 1.625rem;
    font-family: ivar, serif;
    letter-spacing: -0.02em;
}
@media (min-width: 768px) {
    .e-connect-box .h2,
    .e-connect-box h2 {
        font-size: 2.25rem;
        line-height: 1.2;
    }
}
.e-connect-box .e-login p {
    font-size: 18px;
}
html.e-full-screen,
html.e-full-screen .e-wrapper,
html.e-full-screen body {
    width: 100%;
    height: 100%;
    min-height: 100%;
}
.e-connect-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-shadow: 0 2px 6px rgba(35, 38, 42, 0.1);
    box-shadow: 0 2px 6px rgba(35, 38, 42, 0.1);
    background: #fff;
    padding: 1rem 1.25rem;
}
@media (min-width: 768px) {
    .e-connect-header {
        padding: 0.875rem 2rem;
    }
}
@media (min-width: 1400px) {
    .e-connect-header {
        padding-right: 2.5rem;
        padding-left: 2.5rem;
    }
}
.e-connect-header .e-connect-logo {
    width: 1.75rem;
    height: 1.75rem;
    line-height: 1;
}
@media (min-width: 768px) {
    .e-connect-header .e-connect-logo {
        width: 2rem;
        height: 2rem;
    }
}
.e-connect-header .e-connect-logo a {
    display: inline-block;
}
.e-connect-header .e-connect-logo img {
    width: 100%;
    height: 100%;
}
.e-connect-header .e-connect-close {
    max-height: 1.75rem;
}
@media (min-width: 768px) {
    .e-connect-header .e-connect-close {
        padding-top: 0.25rem;
    }
}
.e-connect-header .e-connect-close a {
    color: #68727d;
    font-size: 1.25rem;
}
.e-connect-header .e-connect-close a:hover {
    color: #3a3f45;
}
.e-connect-footer {
    margin: auto;
    padding-right: 1.25rem;
    padding-bottom: 1.875rem;
    padding-left: 1.25rem;
    text-align: center;
    color: #68727d;
    font-size: 0.875rem;
}
@media (min-width: 768px) {
    .e-connect-footer {
        padding-bottom: 2.5rem;
        max-width: 620px;
    }
}
.e-connect-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 2.5rem 1.25rem; 
}
@media (min-width: 768px) {
    .e-connect-content {
        padding-top: 5rem;
    }
}
.e-connect-box {
    width: 100%;
    text-align: center;
    font-size: 1rem;
}
@media (min-width: 768px) {
    .e-connect-box {
        padding-right: 2rem;
        padding-left: 2rem;
        width: 620px;
        font-size: 1.125rem;
    }
}
.elementor-field:-webkit-autofill:first-line,
input:-webkit-autofill:first-line {
    font-family: inherit;
    font-size: 1rem;
}
.elementor-field:-webkit-autofill,
.elementor-field:-webkit-autofill:active,
.elementor-field:-webkit-autofill:focus,
.elementor-field:-webkit-autofill:hover,
input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
    color: #3a3f45;
    background-color: #fff !important;
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
    box-shadow: inset 0 0 0 1000px #fff !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    -webkit-text-fill-color: #3a3f45 !important;
}
.store-icon {
    display: inline-block;
    vertical-align: middle;
    color: inherit;
}
.store-icon-src {
    display: block;
    width: 1em;
    height: 1em;
}
.store-icon-src-auto {
    width: auto;
}
.store-input-group {
    position: relative;
    width: 100%;
}
.store-input-group input[type="password"]::-ms-reveal {
    display: none;
}
.store-input-group .store-input-group-icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 1.375rem;
}
.store-input-group .elementor-field.elementor-size-md.elementor-field-textual {
    padding-right: 3.375rem;
}
.store-toggle-password-button[type="button"],
.store-toggle-password-button[type="button"]:focus,
.store-toggle-password-button[type="button"]:hover {
    padding: 0;
    color: #3a3f45;
    background-color: transparent;
    border: 0;
    outline: 0;
}
.store-toggle-password-button[type="button"]:focus {
    outline: 0;
}
.e-connect-box .elementor-form {
    margin-top: 1.25rem;
    margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
    .e-connect-box .elementor-form {
        margin-top: 2rem;
    }
}
.e-connect-box .elementor-field-textual.elementor-size-md {
    display: block;
    border: 1px solid #d5d8dc;
    border-radius: 0;
    background-color: #fff;
    padding: 0.9375rem 1rem;
    width: 100%;
    line-height: 1.5;
    color: #515861;
    font-size: 1rem;
    font-weight: 400;
}
.e-connect-box .elementor-field-textual.elementor-size-md:hover {
    border-color: #828b97;
}
.e-connect-box .elementor-field-textual.elementor-size-md:focus {
    border-color: #68727d;
    background-color: #fff;
    color: #515861;
}
.e-connect-box .elementor-field-group {
    margin-bottom: 2rem;
    text-align: left;
}
.e-connect-box .elementor-field-group.e-field-remember-me {
    margin: 0.625rem 0 1.25rem;
}
.e-connect-box .elementor-field-group.e-field-remember-me label {
    margin-bottom: 0;
}
.e-connect-box .elementor-field-group.elementor-field-type-submit {
    margin-bottom: 0;
    text-align: center;
}
.e-connect-box .elementor-field-label {
    line-height: 1.5;
    color: #3a3f45;
    font-weight: 400;
}
.e-connect-box .elementor-field-hint {
    color: #9ea5ae;
    font-size: 0.75rem;
}
.e-connect-box .note-redirect a {
    color: #68727d;
    font-size: 1rem;
}
.e-connect-box .note-redirect a:hover {
    color: #0500a3;
}
.e-connect-box .elementor-button {
    display: inline-block;
    margin: auto;
    border: 1px solid #040080;
    background-color: #040080;
    cursor: pointer;
    padding: 0.6875rem 0.75rem;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    line-height: 1.5rem;
    letter-spacing: -0.02em;
    color: #45f2b6;
    font-size: 1.125rem;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.e-connect-box .elementor-button,
.e-connect-box .elementor-button.elementor-size-lg,
.e-connect-box .elementor-button.elementor-size-md,
.e-connect-box .elementor-button.elementor-size-xl,
.e-connect-box .elementor-button.elementor-size-xs {
    border-radius: 0;
}
.e-connect-box .elementor-button:hover {
    border-color: #0500a3;
    background-color: #0500a3;
    color: #45f2b6;
}
.e-connect-box .elementor-button:active:not(:disabled),
.e-connect-box .elementor-button:focus:not(:disabled) {
    outline: none;
    border-color: #040070;
    background-color: #040070;
    color: #45f2b6;
}
.e-connect-box .elementor-button.e-connect-disabled,
.e-connect-box .elementor-button:disabled {
    border-color: #d5d8dc;
    background-color: #d5d8dc;
    color: #babfc5;
}
.e-connect-box .elementor-alert {
    margin-bottom: 1.5rem;
    border-left: 0;
    border-radius: 0;
    padding: 1rem;
    width: 100%;
    text-align: left;
    font-size: 0.875rem;
}
.e-connect-box .elementor-alert.elementor-alert-danger {
    border: 1px solid #fef1f3;
    background-color: #fef1f3;
    color: #515861;
}
.e-connect-box .eicon-spinner:before {
    display: inline-block;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAyNCAyNCc+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSdhJz48c3RvcCBvZmZzZXQ9JzAlJyBzdG9wLWNvbG9yPScjMThBQTVDJy8+PHN0b3Agb2Zmc2V0PScxMDAlJyBzdG9wLWNvbG9yPScjMTY5QzU1JyBzdG9wLW9wYWNpdHk9JzAnLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cGF0aCBmaWxsPSdub25lJyBmaWxsLXJ1bGU9J25vbnplcm8nIHN0cm9rZT0ndXJsKCNhKScgc3Ryb2tlLXdpZHRoPScyJyBkPSdNNjUgMzFjMi4zMTA0MzMxIDAgNC40NTQ0OTY5LS43MTIzMTE0IDYuMjI0NTY0My0xLjkyOTMwNjkgMS4zNDQzNzIxLS45MjQzMTIyIDIuNDczMDA2MS0yLjEzOTc0OTEgMy4yOTQ5MzcyLTMuNTU1MzQ2Qzc1LjQ2MDkzNjkgMjMuODkzOTMwMSA3NiAyMi4wMDk5MTc1IDc2IDIwYzAtNi4wNzUxMzIyLTQuOTI0ODY3OC0xMS0xMS0xMXMtMTEgNC45MjQ4Njc4LTExIDExIDQuOTI0ODY3OCAxMSAxMSAxMXonIHRyYW5zZm9ybT0ndHJhbnNsYXRlKC01MyAtOCknLz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1.375rem;
    height: 1.375rem;
    -webkit-animation: a 0.75s linear infinite;
    animation: a 0.75s linear infinite;
    vertical-align: middle;
    content: " ";
}
.e-connect-box ol,
.e-connect-box ul {
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 0.9rem;
}
.e-connect-box .elementor-column {
    width: 100%;
}
.e-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.note-register {
    color: #3a3f45;
    font-size: 0.875rem;
}
.elementor-field-group.e-field-password .elementor-field-hint {
    margin-top: 0.5rem;
}
.e-connect .e-connect-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}
.e-connect .e-connect-link:before {
    position: absolute;
    top: 22px;
    right: 0;
    left: 0;
    margin: auto;
    border: 2px dashed #d5d8dc;
    width: calc(50% - 5rem);
    content: " ";
}
@media (min-width: 768px) {
    .e-connect .e-connect-link:before {
        top: 30px;
        width: calc(50% - 4.5rem);
    }
}
.e-connect .e-connect-link:after {
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
    margin: auto;
    border: 1px solid #d5d8dc;
    border-radius: 50%;
    background: #fff;
    width: 1.75rem;
    height: 1.75rem;
    line-height: 26px;
    color: #babfc5;
    font-family: eicons;
    font-size: 1.125rem;
    content: "\e800";
}
@media (min-width: 768px) {
    .e-connect .e-connect-link:after {
        top: 14px;
        width: 2rem;
        height: 2rem;
        line-height: 32px;
        font-size: 1.25rem;
    }
}
.e-connect .e-connect-link .e-connect-site,
.e-connect .e-connect-link .e-connect-user {
    margin-bottom: 2rem;
    width: 50%;
    font-size: 0.75rem;
}
@media (min-width: 768px) {
    .e-connect .e-connect-link .e-connect-site,
    .e-connect .e-connect-link .e-connect-user {
        font-size: 0.875rem;
        margin-bottom: 2.5rem;
    }
}
.e-connect .e-connect-link .e-connect-site-gravatar img,
.e-connect .e-connect-link .e-connect-site-logo img,
.e-connect .e-connect-link .e-connect-user-gravatar img,
.e-connect .e-connect-link .e-connect-user-logo img {
    position: relative;
    width: 48px;
    height: 48px;
}
@media (min-width: 768px) {
    .e-connect .e-connect-link .e-connect-site-gravatar img,
    .e-connect .e-connect-link .e-connect-site-logo img,
    .e-connect .e-connect-link .e-connect-user-gravatar img,
    .e-connect .e-connect-link .e-connect-user-logo img {
        width: 60px;
        height: 60px;
    }
}
.e-connect .e-connect-link .e-connect-site-gravatar,
.e-connect .e-connect-link .e-connect-site-gravatar img,
.e-connect .e-connect-link .e-connect-user-gravatar,
.e-connect .e-connect-link .e-connect-user-gravatar img {
    border-radius: 50%;
    overflow: hidden;
}
.e-connect .e-connect-link .e-connect-site > p,
.e-connect .e-connect-link .e-connect-user > p {
    color: #515861;
    font-size: 0.875rem;
}
@media (min-width: 768px) {
    .e-connect .e-connect-link .e-connect-site > p,
    .e-connect .e-connect-link .e-connect-user > p {
        font-size: 1rem;
    }
}
.e-connect .e-connect-link .e-connect-site-url,
.e-connect .e-connect-link .e-connect-user-email {
    display: block;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #3a3f45;
}
.e-connect .e-connect-share-data {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    margin: 20px auto;
    text-align: start;
    color: #68727d;
    font-size: 0.75rem;
}
@media (min-width: 768px) {
    .e-connect .e-connect-share-data {
        font-size: 0.875rem;
    }
}
.e-connect .e-connect-share-data.check-wrapper input[type="checkbox"] {
    margin-top: 3px;
    margin-right: 0.5rem;
    border: 1px solid #9ea5ae;
    border-radius: 0.1875rem;
    min-width: 0.875rem;
    height: 0.875rem;
}
@media (min-width: 768px) {
    .e-connect .e-connect-share-data.check-wrapper input[type="checkbox"] {
        min-width: 1rem;
        height: 1rem;
    }
}
.e-connect .e-connect-share-data.check-wrapper input[type="checkbox"]:before {
    position: relative;
    top: -1px;
    border-color: #9ea5ae;
    width: 4px;
    height: 8px;
}
@media (min-width: 768px) {
    .e-connect
        .e-connect-share-data.check-wrapper
        input[type="checkbox"]:before {
        width: 5px;
        height: 9px;
    }
}
.e-connect .e-connect-share-data.check-wrapper label {
    line-height: 1.5;
}
.e-connect .e-connect-licenses .elementor-select-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-bottom: 15px;
    width: 100%;
}
.e-connect .e-connect-licenses .elementor-select-wrapper select {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding: 14px 30px 14px 16px;
    text-transform: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: inherit;
    font-style: inherit;
    appearance: none;
    border-radius: 0.375rem;
    -webkit-appearance: none;
    -moz-appearance: none;
}
@media (min-width: 768px) {
    .e-connect .e-connect-licenses .elementor-select-wrapper select {
        padding: 20px 30px 20px 16px;
        font-size: 1rem;
    }
}
.e-connect .e-connect-licenses .elementor-select-wrapper:before {
    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-top: 8px solid #3a3f45;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    width: 0;
    height: 0;
    content: "";
    pointer-events: none;
}
.e-connect .e-connect-licenses h5 {
    margin: 30px 0;
    color: #0c0d0e;
    font-size: 1.625rem;
    font-weight: 700;
    font-family: ivar, serif;
    letter-spacing: -0.02em;
    line-height: 1.5;
}
@media (min-width: 768px) {
    .e-connect .e-connect-licenses h5 {
        font-size: 2.25rem;
        line-height: 1.2;
    }
}
.e-connect .e-connect-logo a {
    height: 100%;
}
.e-connect .e-connect-site-logo,
.e-connect .e-connect-user-gravatar {
    margin-bottom: 0.5rem;
}
.e-connect .e-connect-switch-user {
    display: inline-block;
    color: #3a3f45;
    font-size: 0.75rem;
    font-weight: 500;
}
@media (min-width: 768px) {
    .e-connect .e-connect-switch-user {
        font-size: 0.875rem;
    }
}
.e-connect .e-connect-switch-user:hover {
    color: #515861;
}
.e-connect a.e-connect-action-button[href]:not(.e-connect-switch-user) {
    text-decoration: none;
}
.e-connect-disabled {
    cursor: not-allowed;
    pointer-events: none;
}
